.what-we-do {
  background-color: #060d17;
  text-align: center;
}

.services-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.services-items-wrapper div {
  max-width: 250px;
}

.services-items-wrapper img {
  width: 60px;
  height: auto;
}

.service-item-name {
  font-weight: bold;
}

.service-item-desc {
  font-size: smaller;
}

.my-experience {
  background-color: #071421;
  text-align: center;
}

.exp-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1080px;
  margin: auto;
  margin-top: 4em;
}

.exp-item {
  box-shadow: 0 0 20px black;
  padding: 25px;
  width: 400px;
  text-align: left;
}

.exp-header {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.exp-header img {
  width: auto;
  height: auto;
  align-self: center;
}

.exp-header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exp-item-name {
  margin: 0;
  font-weight: bold;
}

.exp-item-dates {
  margin: 0;
  margin-top: 5px;
  font-size: small;
  opacity: 0.7;
}

.exp-item-desc {
  opacity: 0.9;
  font-size: smaller;
  line-height: 1.75em;
}
